# Environnement virtuel
env_proj_3/
venv/

# Fichiers Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Base de données
db.sqlite3

# Fichiers sensibles
.env

# Fichiers systèmes
.DS_Store
Thumbs.db

# Fichiers IDE
.vscode/
.idea/

# Fichiers de données
data/*.csv
poubelle/*.npy
*.npy
*.csv

# Ne pas ignorer les fichiers de faiss_index
!faiss_index/
!faiss_index/product_vectors.npz
!faiss_index/vectorizer_french.pkl
!static