{% if products %}
    <ul>
        {% for product in products %}
            <li>
                <strong>{{ product.product_name }}</strong><br>
                Marque : {{ product.brands }}<br>
                Ecoscore : {{ product.ecoscore_grade }}<br>
                Nutri-Score : {{ product.nutriscore_grade }}<br>
                Calories : {{ product.energy_kcal_100g }} kcal<br>
                Taux de sel : {{ product.salt_100g }} % <br>
                Taux de sucre : {{ product.sugars_100g }} % <br>

                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ product.image_url }}" alt="{{ product.product_name }}" width="100">
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Aucun produit trouvé.</p>
{% endif %}